# How it works

1. User places CSV file from the Bank in the directory
2. Program imports it into a pandas dataframe cleans it up, fills in NaNs, extracts and adds the year and month

    The program works with 2 dictionaries - the Categoriser and the Category Mapper

    * The Categoriser is a list of key words that asssign a subcategory to each entry
    * The Category Mapper assigns categories and classes to subcategories


3. The program goes through the CSV line by line, scanning for subcategory key words. Three cases follow:

* Case 1: No results found --> the user is prompted to enter a new keyword/subcategory pair into the dictionary OR make it a once-off classification
* Case 2: One result found --> the program assigns the subcategory to the keyword
* Case 3: More than one result found --> the program is in danger of making a mistaken classification because the user hasn't chosen their keyword closely enough. The user is prompted to

# Functions

In [2]:
import json
import os
import pandas as pd

In [3]:
%cd "F:/Google Drive/JupyterNotebooks/Useful Projects/Budget Tracker/"

# I operate across a couple of different computers. Sadly, they don't have the same path.
path = "F:/Google Drive/JupyterNotebooks/Useful Projects/Budget Tracker/"

F:\Google Drive\JupyterNotebooks\Useful Projects\Budget Tracker

## Display, Save and Load

In [4]:
def print_dict(my_dict):
    for key,value in sorted(my_dict.items()):
        print(key,":",value)

In [5]:
def load_dict_from_json(target_dict):
    with open("{}{}.json".format(path,target_dict),"r") as fh:
        return(json.load(fh))

In [6]:
def save_dict_to_json(filename,dict_to_save):
    with open("{}{}.json".format(path,filename),"w") as savefile:
        json.dump(dict_to_save,savefile,indent=2, sort_keys = True)

In [7]:
my_dict = {1:"one",2:"two",3:"three"}

save_dict_to_json("Test_Dict",my_dict)

## Dynamically adding things - helpful functions

In [8]:
def list_subcategory_options():
    category_map_dict = load_dict_from_json("Category_Map")
    subcats_list = sorted(category_map_dict.keys())
    subcat_chooser = dict(zip(range(len(subcats_list)),subcats_list))
    return(subcat_chooser)

In [9]:
list_subcategory_options()

{0: 'Adobe Subscriptions',
 1: 'Anniversary',
 2: 'Antivirus',
 3: 'Audible',
 4: 'Aussielent',
 5: 'Blinkist',
 6: 'Books',
 7: 'Boost',
 8: 'CARE Australia',
 9: 'Camera Gear',
 10: 'Cash',
 11: 'Centrelink',
 12: 'Clothing',
 13: 'Comprehensive Insurance',
 14: 'Computer',
 15: 'Courses',
 16: 'Credit Card Interest',
 17: 'Dad',
 18: 'Dan',
 19: 'Department of Education',
 20: 'Desexing/Medical',
 21: 'Dog Food',
 22: 'Dog Rego',
 23: 'Drone',
 24: 'Eating Out',
 25: 'Electricity',
 26: 'Exercise Equipment',
 27: 'Festivals',
 28: 'Food',
 29: 'Fuel',
 30: 'Gifts Received',
 31: 'Google Drive',
 32: 'Greenslip',
 33: 'Home Contents',
 34: 'Interest',
 35: 'Internet',
 36: 'Jim',
 37: 'Life Insurance',
 38: 'Mel Rent',
 39: 'Misc Other Income',
 40: 'Missy',
 41: 'Movies',
 42: 'Mum',
 43: 'Museums',
 44: 'NCTM',
 45: 'NRMA Membership',
 46: 'Naked Wines',
 47: 'Netflix/Stan',
 48: 'New Scientist',
 49: 'Other Gifts',
 50: 'Other Tax Deductible Purchases',
 51: 'Phone Upgrades',
 52: 'Radiotopia',
 53: 'Rebate',
 54: 'Rego',
 55: 'Repairs',
 56: 'Retention Bonus',
 57: 'Savings',
 58: 'School Technology',
 59: 'Services',
 60: 'Shoes',
 61: 'Software',
 62: 'Specialist Clothing',
 63: 'Spotify',
 64: 'Stationary',
 65: 'Supplies',
 66: 'TFR',
 67: 'TV Shows',
 68: 'Tax Return',
 69: "Teacher's Fed",
 70: "Teacher's Health",
 71: 'Test',
 72: 'Test2',
 73: 'Textbooks',
 74: 'Theatre',
 75: 'Toys',
 76: 'Udemy_Personal',
 77: 'Udemy_School',
 78: 'Uncategorised',
 79: 'Videogames',
 80: 'Who Gives a Crap',
 81: 'YouTube Red',
 82: 'iCloud'}

In [10]:
def list_category_options():
    category_map_dict = load_dict_from_json("Category_Map")
    subcats_list = category_map_dict.keys()
    category_list = []
    for x in subcats_list:
        category_list.append(category_map_dict[x]["Category"])
    category_list = sorted(set(category_list)) 
    cat_chooser = dict(zip(range(len(category_list)),category_list))
    return(cat_chooser)

In [11]:
list_category_options()

{0: 'ATO',
 1: 'Bank',
 2: 'Car',
 3: 'Charities+Causes',
 4: 'Creativity+Learning',
 5: 'Debts+Loans',
 6: 'Department of Education',
 7: 'Dog',
 8: 'Entertainment',
 9: 'Gifts',
 10: 'Gifts Received',
 11: 'Life',
 12: 'Misc',
 13: 'Misc Other Income',
 14: 'Other Insurance',
 15: 'Rebate',
 16: 'Subscriptions',
 17: 'TFR',
 18: 'Tax Deductible Purchases',
 19: 'Technology',
 20: 'Test',
 21: 'Test2',
 22: 'Uncategorised',
 23: 'Utilities'}

In [46]:
def new_subcategory():
    category_map_dict = load_dict_from_json("Category_Map")
    
    #print out the pre-existing options
    print_dict(category_map_dict)
    
    new_subcat = input("What is your sub-category?")
    # testing to see if it already exists
    while new_subcat in category_map_dict:
# room for checking if this is in or NEARLY in the thing already    
        new_subcat = input("Oops. That category already extists. Choose another. ")
    # once we have a unique value, enter the category and class
    new_cat = input("What is your category?")
    new_class = input("What is your class?")
    
    #now actually adding the new category to the repository
    category_map_dict[new_subcat] = {"Category":new_cat,"Class":new_class}
    #save the file
    print("Adding new subcategory --> {}:{{{}:{}}}".format(new_subcat,new_cat,new_class))
    
    save_dict_to_json("Category_Map",category_map_dict)

In [47]:
new_subcategory()

Accreditation : {'Category': 'Misc School', 'Class': 'Expenses'}
Adobe Subscriptions : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Anniversary : {'Category': 'Gifts', 'Class': 'Expenses'}
Antivirus : {'Category': 'Technology', 'Class': 'Expenses'}
Audible : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Aussielent : {'Category': 'Life', 'Class': 'Expenses'}
Blinkist : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Books : {'Category': 'Creativity+Learning', 'Class': 'Expenses'}
Boost : {'Category': 'Utilities', 'Class': 'Expenses'}
CARE Australia : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Camera Gear : {'Category': 'Technology', 'Class': 'Expenses'}
Cash : {'Category': 'Misc', 'Class': 'Expenses'}
Centrelink : {'Category': 'Debts+Loans', 'Class': 'Expenses'}
Clothing : {'Category': 'Life', 'Class': 'Expenses'}
Comprehensive Insurance : {'Category': 'Car', 'Class': 'Expenses'}
Computer : {'Category': 'Technology', 'Class': 'Expenses'}
Courses : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Credit Card Interest : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Dad : {'Category': 'Gifts', 'Class': 'Expenses'}
Dan : {'Category': 'Gifts', 'Class': 'Expenses'}
Department of Education : {'Category': 'Department of Education', 'Class': 'Income'}
Desexing/Medical : {'Category': 'Dog', 'Class': 'Expenses'}
Dog Food : {'Category': 'Dog', 'Class': 'Expenses'}
Dog Rego : {'Category': 'Dog', 'Class': 'Expenses'}
Drone : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Eating Out : {'Category': 'Entertainment', 'Class': 'Expenses'}
Electricity : {'Category': 'Utilities', 'Class': 'Expenses'}
Exercise Equipment : {'Category': 'Life', 'Class': 'Expenses'}
Festivals : {'Category': 'Entertainment', 'Class': 'Expenses'}
Food : {'Category': 'Life', 'Class': 'Expenses'}
Fuel : {'Category': 'Car', 'Class': 'Expenses'}
Gifts Received : {'Category': 'Gifts Received', 'Class': 'Income'}
Google Drive : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Greenslip : {'Category': 'Car', 'Class': 'Expenses'}
Home Contents : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Interest : {'Category': 'Bank', 'Class': 'Income'}
Internet : {'Category': 'Utilities', 'Class': 'Expenses'}
Jim : {'Category': 'Gifts', 'Class': 'Expenses'}
Life Insurance : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Mel Rent : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Misc Other Income : {'Category': 'Misc Other Income', 'Class': 'Income'}
Missy : {'Category': 'Gifts', 'Class': 'Expenses'}
Movies : {'Category': 'Entertainment', 'Class': 'Expenses'}
Mum : {'Category': 'Gifts', 'Class': 'Expenses'}
Museums : {'Category': 'Entertainment', 'Class': 'Expenses'}
NCTM : {'Category': 'Subscriptions', 'Class': 'Expenses'}
NRMA Membership : {'Category': 'Car', 'Class': 'Expenses'}
Naked Wines : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Netflix/Stan : {'Category': 'Entertainment', 'Class': 'Expenses'}
New Scientist : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Other Gifts : {'Category': 'Gifts', 'Class': 'Expenses'}
Other Tax Deductible Purchases : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Phone Upgrades : {'Category': 'Technology', 'Class': 'Expenses'}
Radiotopia : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Rebate : {'Category': 'Rebate', 'Class': 'Income'}
Rego : {'Category': 'Car', 'Class': 'Expenses'}
Repairs : {'Category': 'Car', 'Class': 'Expenses'}
Retention Bonus : {'Category': 'Department of Education', 'Class': 'Income'}
Savings : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
School Technology : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Services : {'Category': 'Car', 'Class': 'Expenses'}
Shoes : {'Category': 'Life', 'Class': 'Expenses'}
Software : {'Category': 'Technology', 'Class': 'Expenses'}
Specialist Clothing : {'Category': 'Life', 'Class': 'Expenses'}
Spotify : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Stationary : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Supplies : {'Category': 'Life', 'Class': 'Expenses'}
TFR : {'Category': 'TFR', 'Class': 'TFR'}
TV Shows : {'Category': 'Entertainment', 'Class': 'Expenses'}
Tax Return : {'Category': 'ATO', 'Class': 'Income'}
Teacher's Fed : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Teacher's Health : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Test : {'Category': 'Test', 'Class': 'Test'}
Test2 : {'Category': 'Test2', 'Class': 'Test2'}
Textbooks : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Theatre : {'Category': 'Entertainment', 'Class': 'Expenses'}
Toys : {'Category': 'Dog', 'Class': 'Expenses'}
Udemy_Personal : {'Category': 'Creativity+Learning', 'Class': 'Expenses'}
Udemy_School : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Uncategorised : {'Category': 'Uncategorised', 'Class': 'Uncategorised'}
Videogames : {'Category': 'Entertainment', 'Class': 'Expenses'}
Who Gives a Crap : {'Category': 'Subscriptions', 'Class': 'Expenses'}
YouTube Red : {'Category': 'Subscriptions', 'Class': 'Expenses'}
iCloud : {'Category': 'Subscriptions', 'Class': 'Expenses'}
What is your sub-category?Misc School
What is your category?Misc School
What is your class?Expenses
Adding new subcategory --> Misc School:{Misc School:Expenses}

In [40]:
new_subcategory()
# passed test

Adobe Subscriptions : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Anniversary : {'Category': 'Gifts', 'Class': 'Expenses'}
Antivirus : {'Category': 'Technology', 'Class': 'Expenses'}
Audible : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Aussielent : {'Category': 'Life', 'Class': 'Expenses'}
Blinkist : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Books : {'Category': 'Creativity+Learning', 'Class': 'Expenses'}
Boost : {'Category': 'Utilities', 'Class': 'Expenses'}
CARE Australia : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Camera Gear : {'Category': 'Technology', 'Class': 'Expenses'}
Cash : {'Category': 'Misc', 'Class': 'Expenses'}
Centrelink : {'Category': 'Debts+Loans', 'Class': 'Expenses'}
Clothing : {'Category': 'Life', 'Class': 'Expenses'}
Comprehensive Insurance : {'Category': 'Car', 'Class': 'Expenses'}
Computer : {'Category': 'Technology', 'Class': 'Expenses'}
Courses : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Credit Card Interest : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Dad : {'Category': 'Gifts', 'Class': 'Expenses'}
Dan : {'Category': 'Gifts', 'Class': 'Expenses'}
Department of Education : {'Category': 'Department of Education', 'Class': 'Income'}
Desexing/Medical : {'Category': 'Dog', 'Class': 'Expenses'}
Dog Food : {'Category': 'Dog', 'Class': 'Expenses'}
Dog Rego : {'Category': 'Dog', 'Class': 'Expenses'}
Drone : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Eating Out : {'Category': 'Entertainment', 'Class': 'Expenses'}
Electricity : {'Category': 'Utilities', 'Class': 'Expenses'}
Exercise Equipment : {'Category': 'Life', 'Class': 'Expenses'}
Festivals : {'Category': 'Entertainment', 'Class': 'Expenses'}
Food : {'Category': 'Life', 'Class': 'Expenses'}
Fuel : {'Category': 'Car', 'Class': 'Expenses'}
Gifts Received : {'Category': 'Gifts Received', 'Class': 'Income'}
Google Drive : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Greenslip : {'Category': 'Car', 'Class': 'Expenses'}
Home Contents : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Interest : {'Category': 'Bank', 'Class': 'Income'}
Internet : {'Category': 'Utilities', 'Class': 'Expenses'}
Jim : {'Category': 'Gifts', 'Class': 'Expenses'}
Life Insurance : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Mel Rent : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Misc Other Income : {'Category': 'Misc Other Income', 'Class': 'Income'}
Missy : {'Category': 'Gifts', 'Class': 'Expenses'}
Movies : {'Category': 'Entertainment', 'Class': 'Expenses'}
Mum : {'Category': 'Gifts', 'Class': 'Expenses'}
Museums : {'Category': 'Entertainment', 'Class': 'Expenses'}
NCTM : {'Category': 'Subscriptions', 'Class': 'Expenses'}
NRMA Membership : {'Category': 'Car', 'Class': 'Expenses'}
Naked Wines : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Netflix/Stan : {'Category': 'Entertainment', 'Class': 'Expenses'}
New Scientist : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Other Gifts : {'Category': 'Gifts', 'Class': 'Expenses'}
Other Tax Deductible Purchases : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Phone Upgrades : {'Category': 'Technology', 'Class': 'Expenses'}
Radiotopia : {'Category': 'Charities+Causes', 'Class': 'Expenses'}
Rebate : {'Category': 'Rebate', 'Class': 'Income'}
Rego : {'Category': 'Car', 'Class': 'Expenses'}
Repairs : {'Category': 'Car', 'Class': 'Expenses'}
Retention Bonus : {'Category': 'Department of Education', 'Class': 'Income'}
Savings : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
School Technology : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Services : {'Category': 'Car', 'Class': 'Expenses'}
Shoes : {'Category': 'Life', 'Class': 'Expenses'}
Software : {'Category': 'Technology', 'Class': 'Expenses'}
Specialist Clothing : {'Category': 'Life', 'Class': 'Expenses'}
Spotify : {'Category': 'Subscriptions', 'Class': 'Expenses'}
Stationary : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Supplies : {'Category': 'Life', 'Class': 'Expenses'}
TFR : {'Category': 'TFR', 'Class': 'TFR'}
TV Shows : {'Category': 'Entertainment', 'Class': 'Expenses'}
Tax Return : {'Category': 'ATO', 'Class': 'Income'}
Teacher's Fed : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Teacher's Health : {'Category': 'Other Insurance', 'Class': 'Expenses'}
Test : {'Category': 'Test', 'Class': 'Test'}
Test2 : {'Category': 'Test2', 'Class': 'Test2'}
Textbooks : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Theatre : {'Category': 'Entertainment', 'Class': 'Expenses'}
Toys : {'Category': 'Dog', 'Class': 'Expenses'}
Udemy_Personal : {'Category': 'Creativity+Learning', 'Class': 'Expenses'}
Udemy_School : {'Category': 'Tax Deductible Purchases', 'Class': 'Expenses'}
Uncategorised : {'Category': 'Uncategorised', 'Class': 'Uncategorised'}
Videogames : {'Category': 'Entertainment', 'Class': 'Expenses'}
Who Gives a Crap : {'Category': 'Subscriptions', 'Class': 'Expenses'}
YouTube Red : {'Category': 'Subscriptions', 'Class': 'Expenses'}
iCloud : {'Category': 'Subscriptions', 'Class': 'Expenses'}
What is your sub-category?Accreditation
What is your category?Misc School
What is your class?Expenses
Adding new subcategory: Accreditation

In [14]:
def kw_match_tracker(eachDescription):
    with open("{}AutoCatV2.json".format(path),"r") as keyword_map:
        keyword_map = json.load(keyword_map)
        
    keyword_list = list(keyword_map.keys())
    hit_count = 0
    
    match_dict = {}
    for eachKey in keyword_list:
        #print("searching for {} in {}".format(eachKey,eachDescription))
        if eachKey in eachDescription:
            hit_count += 1
            #print("Hit count: ",str(hit_count))
            match_dict[hit_count] = eachKey
    
    output = {"match_dict":match_dict,"hit_count":hit_count}
    return(output)

In [15]:
desc = "TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savings Savings"
kw_match_tracker(desc)

{'hit_count': 2, 'match_dict': {1: '224238S6', 2: 'TFR'}}

In [37]:
def new_keyword():
    keyword_map = load_dict_from_json("AutoCatV2")
    
    new_kw = input("Please choose a keyword: ")
    print("New keyword: {} ".format(new_kw))
    options = list_subcategory_options()
    
    print_dict(options)
    
    new_choice = str.upper(input("To enter a new subcategory, type N. Type anything else to use the current options"))
    if new_choice == "N":
        new_subcategory()
        # refresh list
        options = list_subcategory_options()
        print_dict(options)
    
    subcat_choice = int(input("Enter the number of the subcategory mapping you want to use: "))
    
    subcat = options[subcat_choice]
    keyword_map[new_kw]  = subcat
    
    save_option = str.upper(input("Save new keyword mapping {} : {}? Press Y ".format(new_kw,subcat)))
    
    if save_option == "Y":
        save_dict_to_json("AutoCatV2",keyword_map)
    
    return(subcat)

In [17]:
#new_keyword()
#passed test

## Pandas Functions

In [18]:
# to be called in an apply in pandas
# goes through the df reading dates and adds the month
# dependency: dates column

def pd_add_month(eachDate):
    return(eachDate.month)

In [19]:
# to be called in an apply in pandas
# goes through the df reading dates and adds the month
# dependency: dates column

def pd_add_year(eachDate):
    return(eachDate.year)

In [20]:
# to be called in an apply in pandas
# goes through the df reading descriptions and adds the subcategory using a keyword search

def pd_add_subcategories(eachDescription):
    
    match_dict = kw_match_tracker(eachDescription)["match_dict"]
    hit_count = kw_match_tracker(eachDescription)["hit_count"]                                                            #"{} --> {}".format(eachKey,keyword_map[eachKey])
    keyword_map = load_dict_from_json("AutoCatV2")
    
    if hit_count == 0:
        print("No Matches found for '",eachDescription,"'")
        user_choice = str.upper(input("Type N for new keyword, C to categorise as a once-off or S for skip"))
        if user_choice == "N":
            return(new_keyword())
            
        elif user_choice == "C":
            print_dict(list_subcategory_options())
            subcat = int(input("Make your choice from the list above by entering the number"))
            return(list_subcategory_options()[subcat])
        
        elif user_choice == "S":
            return("Uncategorised")
    
    elif hit_count == 1:
        return(keyword_map[match_dict[hit_count]])
    
    elif hit_count > 1:
        print("More than one hit found for '{}'".format(eachDescription))
        print_dict(match_dict)
        shortlist_choice = int(input("Please choose a number from the options above or anything else to skip."))
        if shortlist_choice in range(hit_count):
            return(keyword_map[match_dict[shortlist_choice]])
        else:
            return("Uncategorised")

In [21]:
# to be called in an apply in pandas
# goes through the df reading subcategories and adds the category
# dependency: subcategory column

def pd_add_categories(eachSubcategory):
    
    category_map_dict = load_dict_from_json("Category_Map")
    
    if eachSubcategory in category_map_dict: #this line is probably not necessary as you have to subcategorise first...
        return(category_map_dict[eachSubcategory]["Category"])
    
    else:
        return("Uncategorised")

In [22]:
test = "Supplies"
pd_add_categories(test)

'Life'

In [23]:
# to be called in an apply in pandas
# goes through the df reading subcategories and adds the class
# dependency: subcategory column

def pd_add_classes(eachSubcategory):
    
    category_map_dict = load_dict_from_json("Category_Map")
    
    if eachSubcategory in category_map_dict:
        return(category_map_dict[eachSubcategory]["Class"])
    
    else:
        return("Uncategorised")

In [24]:
test = "Supplies"
pd_add_classes(test)

'Expenses'

## Actions for the main loop

In [25]:
def pd_import_data(filename):
    return(pd.read_excel("{}{}.xlsx".format(path,filename)))

In [26]:
df = pd_import_data("March April 2015")
df.head(5)

,Bank Account,Date,Backdate,Description,Transaction,Balance
0,S1,2015-03-01,2015-02-28,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95
1,S1,2015-03-01,NaT,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95
2,S1,2015-03-02,NaT,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98
3,S1,2015-03-11,NaT,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68
4,S1,2015-03-12,NaT,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73

In [27]:
#cleans data

def clean_data(df):
    df.fillna("NA",inplace = True)

In [28]:
def add_year(df):
    df["Year"] = df.apply(lambda x: pd_add_year(x["Date"]),axis= 1)

In [29]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_year(df)
df.head()

,Bank Account,Date,Backdate,Description,Transaction,Balance,Year
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,2015
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,2015
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,2015
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,2015
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,2015

In [30]:
def add_month(df):
    df["Month"] = df.apply(lambda x: pd_add_month(x["Date"]),axis= 1)

In [31]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_month(df)
df.head()

,Bank Account,Date,Backdate,Description,Transaction,Balance,Month
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,3
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,3
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,3
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,3
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,3

In [33]:
def add_subcategories(df):
    df["Subcategory"] = df.apply(lambda x: pd_add_subcategories(x["Description"]),axis=1)

In [35]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_subcategories(df)
df

No Matches found for ' TFR TO 484799 502175908 ONLINE To-MISS MELISSA KATHRYN JONES Ref-Some spending mula To Mel '
Type N for new keyword, C to categorise as a once-off or S for skipN
Please choose a keyword: MELISSA KATHRYN JONES
New keyword: MELISSA KATHRYN JONES
0 : Adobe Subscriptions
1 : Anniversary
2 : Antivirus
3 : Audible
4 : Aussielent
5 : Blinkist
6 : Books
7 : Boost
8 : CARE Australia
9 : Camera Gear
10 : Cash
11 : Centrelink
12 : Clothing
13 : Comprehensive Insurance
14 : Computer
15 : Courses
16 : Credit Card Interest
17 : Dad
18 : Dan
19 : Department of Education
20 : Desexing/Medical
21 : Dog Food
22 : Dog Rego
23 : Drone
24 : Eating Out
25 : Electricity
26 : Exercise Equipment
27 : Festivals
28 : Food
29 : Fuel
30 : Gifts Received
31 : Google Drive
32 : Greenslip
33 : Home Contents
34 : Interest
35 : Internet
36 : Jim
37 : Life Insurance
38 : Mel Rent
39 : Misc Other Income
40 : Missy
41 : Movies
42 : Mum
43 : Museums
44 : NCTM
45 : NRMA Membership
46 : Naked Wines
47 : Netflix/Stan
48 : New Scientist
49 : Other Gifts
50 : Other Tax Deductible Purchases
51 : Phone Upgrades
52 : Radiotopia
53 : Rebate
54 : Rego
55 : Repairs
56 : Retention Bonus
57 : Savings
58 : School Technology
59 : Services
60 : Shoes
61 : Software
62 : Specialist Clothing
63 : Spotify
64 : Stationary
65 : Supplies
66 : TFR
67 : TV Shows
68 : Tax Return
69 : Teacher's Fed
70 : Teacher's Health
71 : Test
72 : Test2
73 : Textbooks
74 : Theatre
75 : Toys
76 : Udemy_Personal
77 : Udemy_School
78 : Uncategorised
79 : Videogames
80 : Who Gives a Crap
81 : YouTube Red
82 : iCloud
To enter a new subcategory, type N. Type anything else to use the current options40
Enter the number of the subcategory mapping you want to use: 40
Save new keyword mapping MELISSA KATHRYN JONES : Missy? Press Y Y
No Matches found for ' TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRAL SCHOOL ADMIN Ref-Peter Newman shirt My School Shirts '
Type N for new keyword, C to categorise as a once-off or S for skipN
Please choose a keyword: 032001 143827
New keyword: 032001 143827
0 : Adobe Subscriptions
1 : Anniversary
2 : Antivirus
3 : Audible
4 : Aussielent
5 : Blinkist
6 : Books
7 : Boost
8 : CARE Australia
9 : Camera Gear
10 : Cash
11 : Centrelink
12 : Clothing
13 : Comprehensive Insurance
14 : Computer
15 : Courses
16 : Credit Card Interest
17 : Dad
18 : Dan
19 : Department of Education
20 : Desexing/Medical
21 : Dog Food
22 : Dog Rego
23 : Drone
24 : Eating Out
25 : Electricity
26 : Exercise Equipment
27 : Festivals
28 : Food
29 : Fuel
30 : Gifts Received
31 : Google Drive
32 : Greenslip
33 : Home Contents
34 : Interest
35 : Internet
36 : Jim
37 : Life Insurance
38 : Mel Rent
39 : Misc Other Income
40 : Missy
41 : Movies
42 : Mum
43 : Museums
44 : NCTM
45 : NRMA Membership
46 : Naked Wines
47 : Netflix/Stan
48 : New Scientist
49 : Other Gifts
50 : Other Tax Deductible Purchases
51 : Phone Upgrades
52 : Radiotopia
53 : Rebate
54 : Rego
55 : Repairs
56 : Retention Bonus
57 : Savings
58 : School Technology
59 : Services
60 : Shoes
61 : Software
62 : Specialist Clothing
63 : Spotify
64 : Stationary
65 : Supplies
66 : TFR
67 : TV Shows
68 : Tax Return
69 : Teacher's Fed
70 : Teacher's Health
71 : Test
72 : Test2
73 : Textbooks
74 : Theatre
75 : Toys
76 : Udemy_Personal
77 : Udemy_School
78 : Uncategorised
79 : Videogames
80 : Who Gives a Crap
81 : YouTube Red
82 : iCloud
To enter a new subcategory, type N. Type anything else to use the current options
Enter the number of the subcategory mapping you want to use: 12
Save new keyword mapping 032001 143827 : Clothing? Press Y Y
No Matches found for ' TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN Ref-Rent JOx2 M,M 9/3 Rent JOx2 Mel Morgan 9/3/2015 '
Type N for new keyword, C to categorise as a once-off or S for skipN
Please choose a keyword: TO 932000 652932
New keyword: TO 932000 652932
0 : Adobe Subscriptions
1 : Anniversary
2 : Antivirus
3 : Audible
4 : Aussielent
5 : Blinkist
6 : Books
7 : Boost
8 : CARE Australia
9 : Camera Gear
10 : Cash
11 : Centrelink
12 : Clothing
13 : Comprehensive Insurance
14 : Computer
15 : Courses
16 : Credit Card Interest
17 : Dad
18 : Dan
19 : Department of Education
20 : Desexing/Medical
21 : Dog Food
22 : Dog Rego
23 : Drone
24 : Eating Out
25 : Electricity
26 : Exercise Equipment
27 : Festivals
28 : Food
29 : Fuel
30 : Gifts Received
31 : Google Drive
32 : Greenslip
33 : Home Contents
34 : Interest
35 : Internet
36 : Jim
37 : Life Insurance
38 : Mel Rent
39 : Misc Other Income
40 : Missy
41 : Movies
42 : Mum
43 : Museums
44 : NCTM
45 : NRMA Membership
46 : Naked Wines
47 : Netflix/Stan
48 : New Scientist
49 : Other Gifts
50 : Other Tax Deductible Purchases
51 : Phone Upgrades
52 : Radiotopia
53 : Rebate
54 : Rego
55 : Repairs
56 : Retention Bonus
57 : Savings
58 : School Technology
59 : Services
60 : Shoes
61 : Software
62 : Specialist Clothing
63 : Spotify
64 : Stationary
65 : Supplies
66 : TFR
67 : TV Shows
68 : Tax Return
69 : Teacher's Fed
70 : Teacher's Health
71 : Test
72 : Test2
73 : Textbooks
74 : Theatre
75 : Toys
76 : Udemy_Personal
77 : Udemy_School
78 : Uncategorised
79 : Videogames
80 : Who Gives a Crap
81 : YouTube Red
82 : iCloud
To enter a new subcategory, type N. Type anything else to use the current options
Enter the number of the subcategory mapping you want to use: 66
Save new keyword mapping TO 932000 652932 : TFR? Press Y Y
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8PPWSZ9VZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8VDTKHR6ZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NMVUG6 '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NTMKBN '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' INTEREST CREDIT '
Type N for new keyword, C to categorise as a once-off or S for skipN
Please choose a keyword: INTEREST CREDIT
New keyword: INTEREST CREDIT
0 : Adobe Subscriptions
1 : Anniversary
2 : Antivirus
3 : Audible
4 : Aussielent
5 : Blinkist
6 : Books
7 : Boost
8 : CARE Australia
9 : Camera Gear
10 : Cash
11 : Centrelink
12 : Clothing
13 : Comprehensive Insurance
14 : Computer
15 : Courses
16 : Credit Card Interest
17 : Dad
18 : Dan
19 : Department of Education
20 : Desexing/Medical
21 : Dog Food
22 : Dog Rego
23 : Drone
24 : Eating Out
25 : Electricity
26 : Exercise Equipment
27 : Festivals
28 : Food
29 : Fuel
30 : Gifts Received
31 : Google Drive
32 : Greenslip
33 : Home Contents
34 : Interest
35 : Internet
36 : Jim
37 : Life Insurance
38 : Mel Rent
39 : Misc Other Income
40 : Missy
41 : Movies
42 : Mum
43 : Museums
44 : NCTM
45 : NRMA Membership
46 : Naked Wines
47 : Netflix/Stan
48 : New Scientist
49 : Other Gifts
50 : Other Tax Deductible Purchases
51 : Phone Upgrades
52 : Radiotopia
53 : Rebate
54 : Rego
55 : Repairs
56 : Retention Bonus
57 : Savings
58 : School Technology
59 : Services
60 : Shoes
61 : Software
62 : Specialist Clothing
63 : Spotify
64 : Stationary
65 : Supplies
66 : TFR
67 : TV Shows
68 : Tax Return
69 : Teacher's Fed
70 : Teacher's Health
71 : Test
72 : Test2
73 : Textbooks
74 : Theatre
75 : Toys
76 : Udemy_Personal
77 : Udemy_School
78 : Uncategorised
79 : Videogames
80 : Who Gives a Crap
81 : YouTube Red
82 : iCloud
To enter a new subcategory, type N. Type anything else to use the current options34
Enter the number of the subcategory mapping you want to use: 34
Save new keyword mapping INTEREST CREDIT : Interest? Press Y Y

,Bank Account,Date,Backdate,Description,Transaction,Balance,Subcategory
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,Missy
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,Clothing
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,Internet
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,Department of Education
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,Teacher's Fed
5,S1,2015-03-15,NA,TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...,-780.00,1075.73,TFR
6,S1,2015-03-15,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-700.00,375.73,TFR
7,S1,2015-03-22,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-200.00,175.73,TFR
8,S1,2015-03-25,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2003.43,Department of Education
9,S1,2015-03-25,NA,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-575.00,1428.43,Missy
10,S1,2015-03-25,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-1000.00,428.43,TFR
11,S1,2015-03-26,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,398.48,Teacher's Fed
12,S1,2015-03-27,2015-03-26 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...,-59.99,338.49,Internet
13,S1,2015-03-30,2015-03-29 00:00:00,BPAY BOSTES ONLINE Ref-2763787 #134329061,-100.00,238.49,Uncategorised
14,S1,2015-03-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,158.54,Internet
15,S1,2015-04-08,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1986.24,Department of Education
16,S1,2015-04-09,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1956.29,Teacher's Fed
17,S1,2015-04-14,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-1247.22,709.07,TFR
18,S1,2015-04-16,NA,BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...,-294.00,415.07,Rego
19,S1,2015-04-22,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2242.77,Department of Education
20,S1,2015-04-23,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,2212.82,Teacher's Fed
21,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.19,2213.01,Uncategorised
22,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.09,2213.10,Uncategorised
23,S1,2015-04-28,2015-04-27 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...,-59.99,2153.11,Internet
24,S1,2015-04-30,NA,TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...,-35.00,2118.11,Clothing
25,S1,2015-04-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,2038.16,Internet
26,S1,2015-04-30,NA,POS W/D SPAR MUNGINDI-16:53 $30.50 CASH,-41.98,1996.18,Food
27,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-38.83,1957.35,Uncategorised
28,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-35.00,1922.35,Uncategorised
29,S1,2015-04-30,NA,INTEREST CREDIT,0.01,1922.36,Interest

In [52]:
# dependency: add_subcategories
def add_categories(df):
    df["Category"] = df.apply(lambda x: pd_add_categories(x["Subcategory"]),axis=1)

In [53]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_subcategories(df)
add_categories(df)
df

No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8PPWSZ9VZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8VDTKHR6ZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NMVUG6 '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NTMKBN '
Type N for new keyword, C to categorise as a once-off or S for skipS

,Bank Account,Date,Backdate,Description,Transaction,Balance,Subcategory,Category
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,Missy,Gifts
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,Clothing,Life
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,Internet,Utilities
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,Department of Education,Department of Education
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,Teacher's Fed,Tax Deductible Purchases
5,S1,2015-03-15,NA,TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...,-780.00,1075.73,TFR,TFR
6,S1,2015-03-15,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-700.00,375.73,TFR,TFR
7,S1,2015-03-22,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-200.00,175.73,TFR,TFR
8,S1,2015-03-25,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2003.43,Department of Education,Department of Education
9,S1,2015-03-25,NA,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-575.00,1428.43,Missy,Gifts
10,S1,2015-03-25,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-1000.00,428.43,TFR,TFR
11,S1,2015-03-26,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,398.48,Teacher's Fed,Tax Deductible Purchases
12,S1,2015-03-27,2015-03-26 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...,-59.99,338.49,Internet,Utilities
13,S1,2015-03-30,2015-03-29 00:00:00,BPAY BOSTES ONLINE Ref-2763787 #134329061,-100.00,238.49,Accreditation,Misc School
14,S1,2015-03-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,158.54,Internet,Utilities
15,S1,2015-04-08,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1986.24,Department of Education,Department of Education
16,S1,2015-04-09,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1956.29,Teacher's Fed,Tax Deductible Purchases
17,S1,2015-04-14,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-1247.22,709.07,TFR,TFR
18,S1,2015-04-16,NA,BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...,-294.00,415.07,Rego,Car
19,S1,2015-04-22,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2242.77,Department of Education,Department of Education
20,S1,2015-04-23,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,2212.82,Teacher's Fed,Tax Deductible Purchases
21,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.19,2213.01,Uncategorised,Uncategorised
22,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.09,2213.10,Uncategorised,Uncategorised
23,S1,2015-04-28,2015-04-27 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...,-59.99,2153.11,Internet,Utilities
24,S1,2015-04-30,NA,TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...,-35.00,2118.11,Clothing,Life
25,S1,2015-04-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,2038.16,Internet,Utilities
26,S1,2015-04-30,NA,POS W/D SPAR MUNGINDI-16:53 $30.50 CASH,-41.98,1996.18,Food,Life
27,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-38.83,1957.35,Uncategorised,Uncategorised
28,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-35.00,1922.35,Uncategorised,Uncategorised
29,S1,2015-04-30,NA,INTEREST CREDIT,0.01,1922.36,Interest,Bank

In [54]:
# dependency: add_subcategories
def add_classes(df):
    df["Class"] = df.apply(lambda x: pd_add_classes(x["Subcategory"]),axis=1)

In [55]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_subcategories(df)
add_classes(df)
df

No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8PPWSZ9VZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8VDTKHR6ZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NMVUG6 '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NTMKBN '
Type N for new keyword, C to categorise as a once-off or S for skipS

,Bank Account,Date,Backdate,Description,Transaction,Balance,Subcategory,Class
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,Missy,Expenses
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,Clothing,Expenses
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,Internet,Expenses
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,Department of Education,Income
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,Teacher's Fed,Expenses
5,S1,2015-03-15,NA,TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...,-780.00,1075.73,TFR,TFR
6,S1,2015-03-15,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-700.00,375.73,TFR,TFR
7,S1,2015-03-22,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-200.00,175.73,TFR,TFR
8,S1,2015-03-25,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2003.43,Department of Education,Income
9,S1,2015-03-25,NA,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-575.00,1428.43,Missy,Expenses
10,S1,2015-03-25,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-1000.00,428.43,TFR,TFR
11,S1,2015-03-26,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,398.48,Teacher's Fed,Expenses
12,S1,2015-03-27,2015-03-26 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...,-59.99,338.49,Internet,Expenses
13,S1,2015-03-30,2015-03-29 00:00:00,BPAY BOSTES ONLINE Ref-2763787 #134329061,-100.00,238.49,Accreditation,Expenses
14,S1,2015-03-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,158.54,Internet,Expenses
15,S1,2015-04-08,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1986.24,Department of Education,Income
16,S1,2015-04-09,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1956.29,Teacher's Fed,Expenses
17,S1,2015-04-14,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-1247.22,709.07,TFR,TFR
18,S1,2015-04-16,NA,BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...,-294.00,415.07,Rego,Expenses
19,S1,2015-04-22,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2242.77,Department of Education,Income
20,S1,2015-04-23,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,2212.82,Teacher's Fed,Expenses
21,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.19,2213.01,Uncategorised,Uncategorised
22,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.09,2213.10,Uncategorised,Uncategorised
23,S1,2015-04-28,2015-04-27 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...,-59.99,2153.11,Internet,Expenses
24,S1,2015-04-30,NA,TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...,-35.00,2118.11,Clothing,Expenses
25,S1,2015-04-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,2038.16,Internet,Expenses
26,S1,2015-04-30,NA,POS W/D SPAR MUNGINDI-16:53 $30.50 CASH,-41.98,1996.18,Food,Expenses
27,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-38.83,1957.35,Uncategorised,Uncategorised
28,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-35.00,1922.35,Uncategorised,Uncategorised
29,S1,2015-04-30,NA,INTEREST CREDIT,0.01,1922.36,Interest,Income

In [48]:
def save_to_excel(df,filename,sheetname):
    path_name = "{}{}.xlsx".format(path,filename)
    print("Saving to",path_name+"?")
    if str.upper(input("Continue? Y or N")) == "Y":
# insert check for overwrite of file here
        df.to_excel(path_name,sheet_name=sheetname)
    elif "N":
        print("Save cancelled")

In [56]:
df = pd.read_excel("March April 2015.xlsx")
clean_data(df)
add_subcategories(df)
df

No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8PPWSZ9VZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5D8VDTKHR6ZEC '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NMVUG6 '
Type N for new keyword, C to categorise as a once-off or S for skips
No Matches found for ' PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J222224NTMKBN '
Type N for new keyword, C to categorise as a once-off or S for skips

,Bank Account,Date,Backdate,Description,Transaction,Balance,Subcategory
0,S1,2015-03-01,2015-02-28 00:00:00,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-200.00,310.95,Missy
1,S1,2015-03-01,NA,TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...,-105.00,205.95,Clothing
2,S1,2015-03-02,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-147.97,57.98,Internet
3,S1,2015-03-11,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1885.68,Department of Education
4,S1,2015-03-12,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1855.73,Teacher's Fed
5,S1,2015-03-15,NA,TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...,-780.00,1075.73,TFR
6,S1,2015-03-15,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-700.00,375.73,TFR
7,S1,2015-03-22,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-200.00,175.73,TFR
8,S1,2015-03-25,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2003.43,Department of Education
9,S1,2015-03-25,NA,TFR TO 484799 502175908 ONLINE To-MISS MELISSA...,-575.00,1428.43,Missy
10,S1,2015-03-25,NA,TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...,-1000.00,428.43,TFR
11,S1,2015-03-26,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,398.48,Teacher's Fed
12,S1,2015-03-27,2015-03-26 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...,-59.99,338.49,Internet
13,S1,2015-03-30,2015-03-29 00:00:00,BPAY BOSTES ONLINE Ref-2763787 #134329061,-100.00,238.49,Accreditation
14,S1,2015-03-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,158.54,Internet
15,S1,2015-04-08,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,1986.24,Department of Education
16,S1,2015-04-09,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,1956.29,Teacher's Fed
17,S1,2015-04-14,NA,TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...,-1247.22,709.07,TFR
18,S1,2015-04-16,NA,BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...,-294.00,415.07,Rego
19,S1,2015-04-22,NA,DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...,1827.70,2242.77,Department of Education
20,S1,2015-04-23,NA,TF From: TF Ref: NSW Teachers Feder,-29.95,2212.82,Teacher's Fed
21,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.19,2213.01,Uncategorised
22,S1,2015-04-27,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...,0.09,2213.10,Uncategorised
23,S1,2015-04-28,2015-04-27 00:00:00,DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...,-59.99,2153.11,Internet
24,S1,2015-04-30,NA,TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...,-35.00,2118.11,Clothing
25,S1,2015-04-30,NA,TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...,-79.95,2038.16,Internet
26,S1,2015-04-30,NA,POS W/D SPAR MUNGINDI-16:53 $30.50 CASH,-41.98,1996.18,Food
27,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-38.83,1957.35,Uncategorised
28,S1,2015-04-30,NA,PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...,-35.00,1922.35,Uncategorised
29,S1,2015-04-30,NA,INTEREST CREDIT,0.01,1922.36,Interest

In [57]:
save_to_excel(df,"Export 1","March-April 2015")

Saving to F:/Google Drive/JupyterNotebooks/Useful Projects/Budget Tracker/Export 1.xlsx?
Continue? Y or NY

## Main

In [ ]:
def main(filename):
    df = pd_import_data(filename)
    clean_data(df)
    add_year(df)
    add_month(df)
    add_subcategories(df)
    add_categories(df)
    add_classes(df)
    save_filename = input("Exporting to Excel. Filename: ")
    save_excel(df,"{}{}".format(filename,)

# Testing Area

In [ ]:
os.listdir()

In [51]:
df= pd.read_excel("March April 2015.xlsx")
clean_data(df)
#df.fillna("NA",inplace=True)
df["Subcategory"] = df.apply(lambda x: assign_subcategory(df["Description"]),axis= 1)

No Matches found for ' 0     TFR TO 484799 502175908 ONLINE To-MISS MELISSA...
1     TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...
2     TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
3     DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
4                   TF From: TF Ref: NSW Teachers Feder
5     TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...
6     TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...
7     TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...
8     DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
9     TFR TO 484799 502175908 ONLINE To-MISS MELISSA...
10    TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...
11                  TF From: TF Ref: NSW Teachers Feder
12    DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...
13            BPAY BOSTES ONLINE Ref-2763787 #134329061
14    TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
15    DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
16                  TF From: TF Ref: NSW Teachers Feder
17    TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...
18    BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...
19    DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
20                  TF From: TF Ref: NSW Teachers Feder
21    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...
22    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...
23    DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...
24    TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...
25    TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
26              POS W/D SPAR MUNGINDI-16:53 $30.50 CASH
27    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...
28    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...
29                                      INTEREST CREDIT
Name: Description, dtype: object '
Type N for new keyword, C to categorise as a once-off or S for skipS
No Matches found for ' 0     TFR TO 484799 502175908 ONLINE To-MISS MELISSA...
1     TFR TO 032001 143827 ONLINE To-MUNGINDI CENTRA...
2     TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
3     DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
4                   TF From: TF Ref: NSW Teachers Feder
5     TFR TO 932000 652932 ONLINE To-MR PETER NEWMAN...
6     TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...
7     TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...
8     DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
9     TFR TO 484799 502175908 ONLINE To-MISS MELISSA...
10    TFR to 224238S6 ONLINE To-P W NEWMAN Ref-Savin...
11                  TF From: TF Ref: NSW Teachers Feder
12    DIRECT DEBIT From: TPG Internet Ref: DF3Q0PJTS...
13            BPAY BOSTES ONLINE Ref-2763787 #134329061
14    TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
15    DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
16                  TF From: TF Ref: NSW Teachers Feder
17    TFR TO 932000 652932 MOB To-MR PETER NEWMAN Re...
18    BPAY 2511-023903-RTA NSW MOB Ref-100244329406 ...
19    DIRECT CREDIT From: DEPT OF SCHOOL E Ref: DOSE...
20                  TF From: TF Ref: NSW Teachers Feder
21    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...
22    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: 5...
23    DIRECT DEBIT From: TPG Internet Ref: DF4Q1J4VV...
24    TFR TO 032001 143827 MOB To-MUNGINDI CENTRAL S...
25    TELSTRAKENAN20EASYPAYA From: Telstra DDebit Re...
26              POS W/D SPAR MUNGINDI-16:53 $30.50 CASH
27    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...
28    PAYPAL AUSTRALIA From: PAYPAL AUSTRALIA Ref: J...
29                                      INTEREST CREDIT
Name: Description, dtype: object '
Type N for new keyword, C to categorise as a once-off or S for skipN

NameError: ("name 'new_keyword' is not defined", 'occurred at index 1')